#container {
    padding-left: 550px;
    padding-top: 250px;
    display: grid;
}

#container input {
    width: 400px;
    height: 35px;
}
/* input:hover{
    border: rgb(65,68,103)  dashed;
} */
#container h4 {
    margin-left: 180px;

}

#btn {
    margin-top: 30px;
    height: 40px;
    background-color: #00819d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}



#btn:hover {
    background-color: white;
    color: black;
}

#button {
    width: 400px;
    text-align: center;
    border: 1px solid #00819d;
    margin-top: 30px;
    height: 35px;
    background-color: #00819d;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    padding-top: 2px;
}

#button:hover {
    background-color: white;
    color: black;
}

@media only screen and (min-width:0px) and(max-width:400px) {
    input {
        width: 100px;
    }

    #button {
        width: 100px;
    }
}

@media only screen and (min-width:401px) and(max-width:800px) {
    input {
        width: 200px;

    }

    #button {
        width: 180px;
    }

}